@using Readery.Core.Models
@using Readery.Core.Models.viewModels
@using Readery.Core.Pagination
@using Readery.Core.enums

@model PaginatedList<Company>

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Companies</h2>
        </div>

        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-area="Admin" asp-controller="Company" asp-action="Create">
                <i class="bi bi-plus-circle"></i> Create New Company
            </a>
        </div>
    </div>

    <!-- Table of Companies -->
    <div class="row mt-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Street Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Postal Code</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var company in Model.Items)
                {
                    <tr>
                        <td>@company.Name</td>
                        <td>@company.StreetAddress</td>
                        <td>@company.City</td>
                        <td>@company.State</td>
                        <td>@company.PostalCode</td>
                        <td>@company.PhoneNumber</td>
                        <td>
                            <a class="btn btn-success" asp-controller="Company" asp-action="Edit" asp-route-id="@company.Id">Edit</a>
                            <a class="btn btn-dark delete-bn" asp-controller="Company" asp-action="Delete"
                               asp-route-id="@company.Id">
                                <i class="bi bi-trash3-fill"></i>
                                <span class="m-1">Delete</span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

   

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function changePageSize(pageSize) {
            const urlParams = new URLSearchParams(window.location.search);
            urlParams.set('pageSize', pageSize);
            const newUrl = `${window.location.pathname}?${urlParams.toString()}`;
            window.location.href = newUrl;
        }
    </script>
}
